<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GoogleAppConfigFile" value="G:\Freelance\TransferingOwnership\Configs\client_secret_123887407223-m1f5ueuhocfuj96la2ffqrfvrflp2h2c.apps.googleusercontent.com.json" />
    <!--timeout in milliseconds-->
    <add key="timeout" value="250" />
    <add key="logfile" value="G:\Freelance\TransferingOwnership\log.txt" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>